{% extends "base.html" %}
{% block content %}

{% for post in object_list %}
<h3>{{ post.title }} </h3>

<div class = "post_meta">
	on {{post.date}}
</div>

<div class = "post_body">
	on {{post.body|safe|linebreaks}}
</div>

{% endfor %}
{% endblock %}