{% extends "base.html" %}
{% block content %}

{% for description in object_list %}
<h1>{{ Description.title }} </h1>

<div class = "desc_body">
	on {{Description.body|safe|linebreaks}}
</div>

{% endfor %}
{% endblock %}