<h1>{{ 'Automatic Fall Detection Sensor' }}</h1>

<h4>{{ 'Project Description' }}</h4>
<li><a href="/blog/download/">	Project</a></li>
 
<h4>{{ 'Images of the sensor' }}</h4>
 <li><a href="/blog/Image/">	Image</a></li>

<h4>{{ 'Fall Detection' }}</h4>
 <li><a href="/blog/IMU_test/">	FD_alarm</a></li>

<h4>{{ 'Sensor information' }}</h4>
 <li><a href="/blog/links/">	mini IMU by Pololu</a></li>
	<li><a href="/blog/acc/">		accelerometer and magnotometer datasheet</a></li>
	<li><a href="/blog/gyro/">		gyroscope datasheet</a></li>
 
						
<!-- <img src="result.png"> -->
<!-- <meta http-equiv="refresh" content="0.001"> -->